@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');

@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@master/SUIT-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@master/SUIT-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@master/SUIT-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@master/SUIT-Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@master/SUIT-ExtraBold.woff2')
    format('woff2');
}
